@model ICollection<EnuguEdu.Domain.Models.Category1>


@foreach (var x in Model)
{
    <li class="nav-item">
        <a asp-page="/Admin/Section" asp-area="Dashboard" asp-route-id="@x.Id" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p class="uppercase">
                @x.Title
            </p>
        </a>
    </li>

}
