<html lang="zxx">
<head>

    <title>ABIA STATE DASHBOARD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="~/asset/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/asset/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/asset/flaticon.css">
   
    <!-- Favicon icon -->
    <link rel="shortcut icon" href="~/img/logo-1.png" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="~/asset/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="~/asset/default.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>
<body id="top">

   
    <!-- Login 6 start -->
    @RenderBody()
    <!-- Login 6 end -->
    <!-- External JS libraries -->
    <script src="~/asset/jquery-2.2.0.min.js"></script>
    <script src="~/asset/popper.min.js"></script>
    <script src="~/asset/bootstrap.min.js"></script>
    <!-- Custom JS Script -->
    @RenderSection("Scripts", required: false)

</body>
</html>